@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Chesney House<br />
    96 Pitts Bay Road<br />
    Pembroke HM 08<br />
    Bermuda<br />
    <abbr title="Phone">Phone:</abbr>
    (441) 278-1316
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:ITServiceDesk@tokiomillennium.com">ITServiceDesk@tokiomillennium.com </a><br />
    
</address>