@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>Tokio Millennium Re</h1>
    <p class="lead">Welcome to Tokio Millenniums online server booker</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Server Information</h2>
        <p>
            You can find out more information about our servers such as ServerID,  
            Status, Server Name, Environment and the Active Booking ID.
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>Booking Information</h2>
        <p>You can find out more booking information such as BookingID, ServerID, UserID, Check In Time, and Check Out Time.</p>
        
    </div>
    <div class="col-md-4">
        <h2>Book a server</h2>
        <p>You can easily book a server.</p>
        
    </div>
</div>